In [158]:
#importando as bibliotecas

import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

In [159]:
# criando o dataframe
df = pd.read_csv('dataset/pokemon.csv')
df
# temos um "problema" -> a altura e o peso tao em unidade americana.

,id,ndex,species,forme,type1,type2,ability1,ability2,abilityH,hp,...,weight,height,dex1,dex2,class,percent-male,percent-female,pre-evolution,egg-group1,egg-group2
0,1,1,Bulbasaur,Bulbasaur,Grass,Poison,Overgrow,NaN,Chlorophyll,45,...,15.2 lbs.,"2'04""",NaN,NaN,Seed Pokémon,0.875,0.125,NaN,Monster,Grass
1,2,2,Ivysaur,Ivysaur,Grass,Poison,Overgrow,NaN,Chlorophyll,60,...,28.7 lbs.,"3'03""",NaN,NaN,Seed Pokémon,0.875,0.125,Bulbasaur,Monster,Grass
2,3,3,Venusaur,Venusaur,Grass,Poison,Overgrow,NaN,Chlorophyll,80,...,220.5 lbs.,"6'07""",NaN,NaN,Seed Pokémon,0.875,0.125,Ivysaur,Monster,Grass
3,4,4,Charmander,Charmander,Fire,NaN,Blaze,NaN,Solar Power,39,...,18.7 lbs.,"2'00""",NaN,NaN,Lizard Pokémon,0.875,0.125,NaN,Monster,Dragon
4,5,5,Charmeleon,Charmeleon,Fire,NaN,Blaze,NaN,Solar Power,58,...,41.9 lbs.,"3'07""",NaN,NaN,Flame Pokémon,0.875,0.125,Charmander,Monster,Dragon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1056,1058,778,Mimikyu,Mimikyu (Busted Form),Ghost,Fairy,Disguise,Disguise,Disguise,60,...,1.5 lbs.,"0'08""",After going to all the effort of disguising it...,If its neck is broken or its rag torn during a...,Disguise Pokémon,0.500,0.500,NaN,Amorphous,NaN
1057,1059,778,Mimikyu,Mimikyu (2),Ghost,Fairy,Disguise,Disguise,Disguise,60,...,1.5 lbs.,"0'08""",NaN,NaN,Disguise Pokémon,0.500,0.500,NaN,Amorphous,NaN
1058,1060,778,Mimikyu,Mimikyu (3),Ghost,Fairy,Disguise,Disguise,Disguise,60,...,1.5 lbs.,"0'08""",NaN,NaN,Disguise Pokémon,0.500,0.500,NaN,Amorphous,NaN
1059,1061,784,Kommo-o,Kommo-o (1),Dragon,Fighting,Bulletproof,Soundproof,Overcoat,75,...,172.4 lbs.,"5'03""",NaN,NaN,Scaly Pokémon,0.500,0.500,NaN,Dragon,NaN
1060,1062,801,Magearna,Magearna (Original Color),Steel,Fairy,Soul-Heart,Soul-Heart,Soul-Heart,80,...,177.5 lbs.,"3'03""",This beautiful form reflects Magearna’s appear...,This gorgeous Magearna looks as it did at the ...,Artificial Pokémon,NaN,NaN,NaN,Undiscovered,NaN

In [160]:
# por enquanto nao quero usar as 26 colunas
df.columns

Index(['id', 'ndex', 'species', 'forme', 'type1', 'type2', 'ability1',
       'ability2', 'abilityH', 'hp', 'attack', 'defense', 'spattack',
       'spdefense', 'speed', 'total', 'weight', 'height', 'dex1', 'dex2',
       'class', 'percent-male', 'percent-female', 'pre-evolution',
       'egg-group1', 'egg-group2'],
      dtype='object')

In [161]:
# entao tirei as que eu achei paia
df_bom = df.drop(columns=['id','ability1','ability2','abilityH','forme','percent-male','percent-female','egg-group1','egg-group2','class','dex1','dex2'])
df_bom

,ndex,species,type1,type2,hp,attack,defense,spattack,spdefense,speed,total,weight,height,pre-evolution
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,15.2 lbs.,"2'04""",NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,28.7 lbs.,"3'03""",Bulbasaur
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,220.5 lbs.,"6'07""",Ivysaur
3,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,18.7 lbs.,"2'00""",NaN
4,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,405,41.9 lbs.,"3'07""",Charmander
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1056,778,Mimikyu,Ghost,Fairy,60,100,60,100,60,120,500,1.5 lbs.,"0'08""",NaN
1057,778,Mimikyu,Ghost,Fairy,60,100,60,100,60,120,500,1.5 lbs.,"0'08""",NaN
1058,778,Mimikyu,Ghost,Fairy,60,100,60,100,60,120,500,1.5 lbs.,"0'08""",NaN
1059,784,Kommo-o,Dragon,Fighting,75,110,125,100,105,85,600,172.4 lbs.,"5'03""",NaN
1060,801,Magearna,Steel,Fairy,80,95,115,130,115,65,600,177.5 lbs.,"3'03""",NaN

## Análise exploratória
### 1) Distribuição, dispersão e tendência dos STATS

In [162]:
# pra facilitar a analise criei um df temporario so com as colunas de status
df_stats = df_bom[['hp', 'attack', 'defense', 'spattack', 'spdefense', 'speed', 'total']]
df_stats
# problema: weight e height sao strings e da um pouco mais de trabalho

      hp  attack  defense  spattack  spdefense  speed  total
0     45      49       49        65         65     45    318
1     60      62       63        80         80     60    405
2     80      82       83       100        100     80    525
3     39      52       43        60         50     65    309
4     58      64       58        80         65     80    405
...   ..     ...      ...       ...        ...    ...    ...
1056  60     100       60       100         60    120    500
1057  60     100       60       100         60    120    500
1058  60     100       60       100         60    120    500
1059  75     110      125       100        105     85    600
1060  80      95      115       130        115     65    600

[1061 rows x 7 columns]

In [163]:
descricao = df_stats.describe()
descricao

# count -> so p saber q tem 1061 pokemons
# mean -> media de cada stat ! muito legal
# std -> desvio padrao de cada stat ! muito legal
# min -> minimo de cada stat ! ATENCAO outlier!
# 25% -> primeiro quartil, 75% vao ter + stats que isso
# 50% -> segundo quartil, mediana!
# 75% -> terceiro quartil, somente 25% tem + stats que isso
# max -> maximo de cada stat ! ATENCAO outlier!

,hp,attack,defense,spattack,spdefense,speed,total
count,1061.000000,1061.000000,1061.000000,1061.000000,1061.000000,1061.000000,1061.000000
mean,70.041470,79.602262,73.730443,74.550424,72.911404,70.321395,441.157399
std,25.893508,31.378369,30.394899,31.975146,27.995681,29.328288,121.289505
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,175.000000
25%,50.000000,55.000000,50.000000,50.000000,50.000000,48.000000,336.000000
50%,68.000000,75.000000,70.000000,70.000000,70.000000,68.000000,455.000000
75%,80.000000,100.000000,91.000000,95.000000,90.000000,93.000000,520.000000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,780.000000

Pergunta: ok, mas iai. ainda nao to tendo muitos insights. A média é representativa? quem sao os outliers?

### 2) Gráficos e Boxplots dos STATS
   -> pra analise fazer sentido, sem ter que ficar calculando assimetria dispersao um monte de coisa, so vamos dar um jeito de plotar!
   -> grafico de dispersao pode ficar legal!

### 3) Análise de Frequência dos TIPOS e STATS

In [164]:
# quão comum é cada tipo primário?
tipo1_Fi = df['type1'].value_counts() # absoluta
tipo1_fi = df['type1'].value_counts(normalize=True)
tipo1_fai = tipo1_fi.cumsum()

tipo1_frequencias = pd.DataFrame({'Fi': tipo1_Fi,
                                  'fi': tipo1_fi,
                                  'fai': tipo1_fai})

In [165]:
tipo1_frequencias
# TAREFINHA : alguem faz o grafico disso. tipo sla barras algo assim

           Fi        fi       fai
type1
Water     130  0.122526  0.122526
Normal    126  0.118756  0.241282
Bug       106  0.099906  0.341188
Psychic    93  0.087653  0.428841
Grass      87  0.081998  0.510839
Rock       67  0.063148  0.573987
Fire       61  0.057493  0.631480
Electric   57  0.053723  0.685203
Ghost      42  0.039585  0.724788
Dragon     42  0.039585  0.764373
Dark       41  0.038643  0.803016
Ground     38  0.035815  0.838831
Poison     37  0.034873  0.873704
Fairy      34  0.032045  0.905749
Steel      32  0.030160  0.935910
Fighting   31  0.029218  0.965127
Ice        31  0.029218  0.994345
Flying      6  0.005655  1.000000

Ta vendo que irado? so tem 6 pokemons que o tipo principal é flying. 
-> se alguem conseguir seria legal tambem ter graficos aqui!

In [166]:
# quão comum é cada tipo secundário?
tipo2_Fi = df['type2'].value_counts() # absoluta
tipo2_fi = df['type2'].value_counts(normalize=True)
tipo2_fai = tipo2_fi.cumsum()

tipo2_frequencias = pd.DataFrame({'Fi': tipo2_Fi,
                                  'fi': tipo2_fi,
                                  'fai': tipo2_fai})

In [167]:
tipo2_frequencias

           Fi        fi       fai
type2
Flying    140  0.260223  0.260223
Ground     42  0.078067  0.338290
Fairy      39  0.072491  0.410781
Psychic    36  0.066914  0.477695
Poison     35  0.065056  0.542751
Fighting   34  0.063197  0.605948
Steel      33  0.061338  0.667286
Grass      32  0.059480  0.726766
Dark       22  0.040892  0.767658
Dragon     20  0.037175  0.804833
Ghost      18  0.033457  0.838290
Water      18  0.033457  0.871747
Rock       15  0.027881  0.899628
Fire       15  0.027881  0.927509
Ice        15  0.027881  0.955390
Electric   12  0.022305  0.977695
Normal      7  0.013011  0.990706
Bug         5  0.009294  1.000000

Mesma coisa, agora é so plotar pra gente ter uma noção.